.bg(style='margin:0px auto;padding:10px 0;max-width:100%;')
  table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
    tbody
      tr
        td(style='direction:ltr;font-size:0px;padding:0px;text-align:center;')
          .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
              tr
                td(align='center', style='font-size:0px;padding:10px 25px;padding-bottom:10px;word-break:break-word;')
                  div(style='font-family:Futura, Avenir, sans-serif;font-size:12px;line-height:25px;text-align:center;color:rgba(255,255,255,0.7);')
                    | Want to change your alert settings?
                  a(href='https://pingbox.app/user/notification-settings', style='display:inline-block;color:white;font-family:Futura, Avenir, sans-serif;font-size:14px;font-weight:lighter;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:5px 25px;mso-padding-alt:0px;', target='_blank')
                    | Update Settings →
