div(style='margin:0px auto;max-width:100%;')
  table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
    tbody
      tr
        td(style='direction:ltr;font-size:0px;padding:20px 0;padding-bottom:20px;text-align:center;')
          .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
              tr
                td(align='center', style='font-size:0px;padding:10px 25px;padding-bottom:4px;word-break:break-word;')
                  div(style='font-family:Futura, Avenir, sans-serif;font-size:32px;font-weight:bold;line-height:1;text-align:center;color:#FFFFFF;')
                    a(href='https://pingbox.app', alt='Pingbox', title='Pingbox', target='_blank')
                      div(style='height:24px;display:block;margin: 10px 0px;')
                        img(src='https://pingbox.app/pingbox_logo_text_color.png', style='height:24px;width:100%;')
              tr
                td(align='center', style='font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:30px;word-break:break-word;')
                  div(style='font-family:Futura, Avenir, sans-serif;font-size:12px;line-height:1;text-align:center;text-transform: uppercase;', class="text-tertiarary")
                    | Notifications for your crypto wallet
              tr
                td(align='center', style='font-size:0px;padding:10px 25px;padding-top:0px;word-break:break-word;')
                  div(style='font-family:Futura, Avenir, sans-serif;font-size:12px;line-height:1;text-align:center;opacity:0.5;', class="text-secondary")
                    | Made with ☕️ by: 
                    a(href='https://explorer.mainnet.near.org/accounts/pingbox.near', target='_blank', style='text-decoration:underline', class="text-primary")
                      | pingbox.near