doctype html
head
  title
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  style(type='text/css').
    #outlook a {
    padding: 0;
    }
    body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    }
    table,
    td {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    }
    img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    }
    p {
    display: block;
    margin: 13px 0;
    }
  style(type='text/css').
    @media only screen and (min-width:480px) {
    .mj-column-per-100 {
    width: 100% !important;
    max-width: 100%;
    }
    .mj-column-px-350 {
    width: 350px !important;
    max-width: 350px;
    }
    }
  style(type='text/css').
div(style='display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;')
  | Holdr.Email: Alert Title Here...
div(style='background-color:#161A16;')
  div(style='margin:0px auto;max-width:100%;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:0px;text-align:center;')
            .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
                tr
                  td(style='font-size:0px;word-break:break-word;')
                    div(style='height:80px;display:block;margin: 40px 0px;')
                      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 414 162', width='100%', height='100%')
                        path(fill='#f9f9f9', d='M207.21 54.75v52.5a.76.76 0 0 1-.75.75H201a7.49 7.49 0 0 1-6.3-3.43l-24.78-38.3.85 19.13v21.85a.76.76 0 0 1-.75.75h-7.22a.76.76 0 0 1-.75-.75v-52.5a.76.76 0 0 1 .75-.75h5.43a7.52 7.52 0 0 1 6.3 3.42l24.78 38.24-.77-19.06V54.75a.75.75 0 0 1 .75-.75h7.22a.76.76 0 0 1 .7.75zM281 108h-7.64a.75.75 0 0 1-.7-1l20.24-52.28A1.14 1.14 0 0 1 294 54h9.57a1.14 1.14 0 0 1 1.05.72L324.8 107a.75.75 0 0 1-.7 1h-7.64a.76.76 0 0 1-.71-.48l-16.31-43a.75.75 0 0 0-1.41 0l-16.31 43a.76.76 0 0 1-.72.48zM377.84 106.79L362.66 87.4c8.57-1.62 13.58-7.4 13.58-16.27 0-10.19-6.63-17.13-18.36-17.13h-21.17a1.12 1.12 0 0 0-1.12 1.12 7.2 7.2 0 0 0 7.2 7.2H357c7.09 0 10.49 3.63 10.49 8.87s-3.32 9-10.49 9h-20.29a1.13 1.13 0 0 0-1.12 1.13v26a.75.75 0 0 0 .75.75h7.22a.76.76 0 0 0 .75-.75V87.87h8.33l13.17 17.19a7.51 7.51 0 0 0 6 2.94h5.48a.75.75 0 0 0 .55-1.21zM258.17 54h-33.5a1 1 0 0 0-1 1 7.33 7.33 0 0 0 7.33 7.33h27.17a.74.74 0 0 0 .75-.75v-6.83a.75.75 0 0 0-.75-.75zm0 45.67h-25a.76.76 0 0 1-.75-.75V85.38a.75.75 0 0 1 .75-.75h23.11a.75.75 0 0 0 .75-.75V77a.75.75 0 0 0-.75-.75h-31.49a1.13 1.13 0 0 0-1.12 1.13v29.46a1.12 1.12 0 0 0 1.12 1.12h33.38a.75.75 0 0 0 .75-.75v-6.83a.74.74 0 0 0-.75-.71zM108.24 40.57L89.42 68.5a2 2 0 0 0 3 2.63l18.52-16a.74.74 0 0 1 1.24.56v50.29a.75.75 0 0 1-1.32.48l-56-67A9.59 9.59 0 0 0 47.54 36h-1.95A9.59 9.59 0 0 0 36 45.59v70.82a9.59 9.59 0 0 0 9.59 9.59 9.59 9.59 0 0 0 8.17-4.57L72.58 93.5a2 2 0 0 0-3-2.63l-18.52 16a.74.74 0 0 1-1.24-.56V56.07a.75.75 0 0 1 1.32-.48l56 67a9.59 9.59 0 0 0 7.33 3.4h2a9.59 9.59 0 0 0 9.59-9.59V45.59a9.59 9.59 0 0 0-9.65-9.59 9.59 9.59 0 0 0-8.17 4.57z')
  div(style='margin:0px auto;max-width:100%;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:20px 0;padding-bottom:20px;padding-top:0px;text-align:center;')
            .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
                tr
                  td(align='center', style='font-size:0px;padding:10px 25px;padding-right:0px;padding-bottom:20px;padding-left:0px;word-break:break-word;')
                    div(style='font-family:Futura, Avenir, sans-serif;font-size:30px;font-weight:lighter;line-height:22px;text-align:center;color:#FFFFFF;')
                      | Large Balance Change
                tr
                  td(align='center', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                    div(style='font-family:Futura, Avenir, sans-serif;font-size:30px;font-weight:lighter;line-height:1;text-align:center;color:#21bf73;')
                      | +1,234Ⓝ
                tr
                  td(align='center', style='font-size:0px;padding:10px 25px;padding-bottom:20px;word-break:break-word;')
                    div(style='font-family:Futura, Avenir, sans-serif;text-decoration: underline;font-size:22px;font-weight:lighter;line-height:1;text-align:center;color:#f9f9f9;')
                      a(href='https://explorer.mainnet.near.org/accounts/alert.near', target='_blank', style='color:#FFF; text-decoration:none')
                        | alert.near
                tr
                  td(align='center', style='font-size:0px;padding:10px 25px;padding-bottom:0px;word-break:break-word;')
                    div(style='font-family:Futura, Avenir, sans-serif;font-size:14px;line-height:21px;text-align:center;color:#FFFFFF;')
                      | Large balance change detected in alert.near,
                      br
                      | $1,409.23 (+16.75%) moved into your account!
                tr
                  td(align='center', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                    div(style='font-family:Futura, Avenir, sans-serif;font-size:14px;line-height:1;text-align:center;color:#FFFFFF;')
                      br
                      a(href='https://explorer.mainnet.near.org/', target='_blank', style='color:#FFF; text-decoration:none')
                        | View Transaction →
  div(style='margin:0px auto;max-width:100%;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:0px;text-align:center;')
            .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
                tr
                  td(style='font-size:0px;word-break:break-word;')
                    div(style='height:20px;') &nbsp;
  div(style='margin:0px auto;max-width:100%;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:10px;text-align:center;')
            .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
                tr
                  td(style='font-size:0px;padding:40px 25px;word-break:break-word;')
                    p(style='border-top:solid 2px #5B5E5B;font-size:1px;margin:0px auto;width:100px;')
  div(style='margin:0px auto;max-width:100%;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:0px;text-align:center;')
            .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
                tr
                  td(align='center', style='font-size:0px;padding:10px 25px;padding-right:0px;padding-bottom:2px;padding-left:0px;word-break:break-word;')
                    div(style='font-family:Futura, Avenir, sans-serif;font-size:30px;font-weight:lighter;line-height:32px;text-align:center;color:#BFBFBF;')
                      | Get More Rewards
  div(style='margin:0px auto;max-width:100%;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:0px 0px 40px;text-align:center;')
            .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
                tr
                  td(align='center', style='font-size:0px;padding:10px 25px;padding-bottom:10px;word-break:break-word;')
                    div(style='font-family:Futura, Avenir, sans-serif;font-size:16px;line-height:25px;text-align:center;color:#FFFFFF;')
                      | Refer a friend and receive 1Ⓝ off your subscription!
                tr
                  td(align='center', vertical-align='middle', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                    table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
                      tr
                        td(align='center', bgcolor='#21bf73', role='presentation', style='border:none;border-radius:3px;cursor:auto;mso-padding-alt:10px 25px;background:#21bf73;', valign='middle')
                          a(href='https://', style='display:inline-block;background:#21bf73;color:white;font-family:Futura, Avenir, sans-serif;font-size:18px;font-weight:lighter;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;mso-padding-alt:0px;border-radius:3px;', target='_blank')
                            | Copy Referal Link
                tr
                  td(align='center', style='font-size:0px;padding:10px 25px;padding-bottom:10px;word-break:break-word;')
                    div(style='font-family:Futura, Avenir, sans-serif;font-size:12px;line-height:25px;text-align:center;color:#FFFFFF;')
                      | Once your friend signs up using this link,
                      br
                      | your account will be re-imbursed 1 Ⓝ until your entire subscription is free.
  div(style='margin:0px auto;max-width:100%;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:10px;text-align:center;')
            .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
                tr
                  td(style='font-size:0px;padding:40px 25px;word-break:break-word;')
                    p(style='border-top:solid 2px #5B5E5B;font-size:1px;margin:0px auto;width:100px;')
  div(style='margin:0px auto;max-width:100%;')
    table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
      tbody
        tr
          td(style='direction:ltr;font-size:0px;padding:20px 0;padding-bottom:20px;text-align:center;')
            .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
              table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
                tr
                  td(align='center', style='font-size:0px;padding:10px 25px;padding-bottom:4px;word-break:break-word;')
                    div(style='font-family:Futura, Avenir, sans-serif;font-size:32px;font-weight:bold;line-height:1;text-align:center;color:#FFFFFF;')
                      a(href='https://hodlr.email', target='_blank')
                        div(style='height:50px;display:block;margin: 40px 0px 20px;')
                          svg(width='100%', height='100%', viewbox='0 0 511 153', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            g(id='hodlr.email', stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                              g(id='hodlr.email-brand', transform='translate(-209.000000, -870.000000)', fill='#f9f9f9', fill-rule='nonzero')
                                g(transform='translate(209.415752, 870.875000)')
                                  g(transform='translate(234.335752, 5.021000)')
                                    path(d='M18.744,60.104 L18.744,38.368 L29.216,38.368 L29.216,60.104 L48.048,60.104 L48.048,1.408 L29.216,1.408 L29.216,21.384 L18.744,21.384 L18.744,1.408 L0,1.408 L0,60.104 L18.744,60.104 Z M11.088,53.064 L8.8,53.064 L8.8,8.448 L11.088,8.448 L11.088,28.688 L36.96,28.688 L36.96,8.448 L39.248,8.448 L39.248,53.064 L36.96,53.064 L36.96,30.8 L11.088,30.8 L11.088,53.064 Z M86.3553985,61.6 C90.5793985,61.6 94.5687318,60.7933333 98.3233985,59.18 C102.078065,57.5666667 105.348732,55.3666667 108.135398,52.58 C110.922065,49.7933333 113.122065,46.5226667 114.735398,42.768 C116.348732,39.0133333 117.155398,35.024 117.155398,30.8 C117.155398,26.576 116.348732,22.5866667 114.735398,18.832 C113.122065,15.0773333 110.922065,11.8066667 108.135398,9.02 C105.348732,6.23333333 102.078065,4.03333333 98.3233985,2.42 C94.5687318,0.806666667 90.5793985,-5.68434189e-14 86.3553985,-5.68434189e-14 C82.1313985,-5.68434189e-14 78.1420651,0.806666667 74.3873985,2.42 C70.6327318,4.03333333 67.3620651,6.23333333 64.5753985,9.02 C61.7887318,11.8066667 59.5887318,15.0773333 57.9753985,18.832 C56.3620651,22.5866667 55.5553985,26.576 55.5553985,30.8 C55.5553985,35.024 56.3620651,39.0133333 57.9753985,42.768 C59.5887318,46.5226667 61.7887318,49.7933333 64.5753985,52.58 C67.3620651,55.3666667 70.6327318,57.5666667 74.3873985,59.18 C78.1420651,60.7933333 82.1313985,61.6 86.3553985,61.6 Z M86.3553985,53.328 C83.2460651,53.328 80.3273985,52.7413333 77.5993985,51.568 C74.8713985,50.3946667 72.4807318,48.7813333 70.4273985,46.728 C68.3740651,44.6746667 66.7607318,42.284 65.5873985,39.556 C64.4140651,36.828 63.8273985,33.9093333 63.8273985,30.8 C63.8273985,27.6906667 64.4140651,24.772 65.5873985,22.044 C66.7607318,19.316 68.3740651,16.9253333 70.4273985,14.872 C72.4807318,12.8186667 74.8713985,11.2053333 77.5993985,10.032 C80.3273985,8.85866667 83.2460651,8.272 86.3553985,8.272 C89.4647318,8.272 92.3833985,8.85866667 95.1113985,10.032 C97.8393985,11.2053333 100.230065,12.8186667 102.283398,14.872 C104.336732,16.9253333 105.950065,19.316 107.123398,22.044 C108.296732,24.772 108.883398,27.6906667 108.883398,30.8 C108.883398,33.9093333 108.296732,36.828 107.123398,39.556 C105.950065,42.284 104.336732,44.6746667 102.283398,46.728 C100.230065,48.7813333 97.8393985,50.3946667 95.1113985,51.568 C92.3833985,52.7413333 89.4647318,53.328 86.3553985,53.328 Z M86.3553985,51.04 C89.1713985,51.04 91.7967318,50.512 94.2313985,49.456 C96.6660651,48.4 98.8073985,46.948 100.655398,45.1 C102.503398,43.252 103.955398,41.1106667 105.011398,38.676 C106.067398,36.2413333 106.595398,33.616 106.595398,30.8 C106.595398,27.984 106.067398,25.3586667 105.011398,22.924 C103.955398,20.4893333 102.503398,18.348 100.655398,16.5 C98.8073985,14.652 96.6660651,13.2 94.2313985,12.144 C91.7967318,11.088 89.1713985,10.56 86.3553985,10.56 C83.5393985,10.56 80.9140651,11.088 78.4793985,12.144 C76.0447318,13.2 73.9033985,14.652 72.0553985,16.5 C70.2073985,18.348 68.7553985,20.4893333 67.6993985,22.924 C66.6433985,25.3586667 66.1153985,27.984 66.1153985,30.8 C66.1153985,33.616 66.6433985,36.2413333 67.6993985,38.676 C68.7553985,41.1106667 70.2073985,43.252 72.0553985,45.1 C73.9033985,46.948 76.0447318,48.4 78.4793985,49.456 C80.9140651,50.512 83.5393985,51.04 86.3553985,51.04 Z M86.3553985,43.12 C84.6540651,43.12 83.0553985,42.7973333 81.5593985,42.152 C80.0633985,41.5066667 78.7580651,40.6266667 77.6433985,39.512 C76.5287318,38.3973333 75.6487318,37.092 75.0033985,35.596 C74.3580651,34.1 74.0353985,32.5013333 74.0353985,30.8 C74.0353985,29.0986667 74.3580651,27.5 75.0033985,26.004 C75.6487318,24.508 76.5287318,23.2026667 77.6433985,22.088 C78.7580651,20.9733333 80.0633985,20.0933333 81.5593985,19.448 C83.0553985,18.8026667 84.6540651,18.48 86.3553985,18.48 C88.0567318,18.48 89.6553985,18.8026667 91.1513985,19.448 C92.6473985,20.0933333 93.9527318,20.9733333 95.0673985,22.088 C96.1820651,23.2026667 97.0620651,24.508 97.7073985,26.004 C98.3527318,27.5 98.6753985,29.0986667 98.6753985,30.8 C98.6753985,32.5013333 98.3527318,34.1 97.7073985,35.596 C97.0620651,37.092 96.1820651,38.3973333 95.0673985,39.512 C93.9527318,40.6266667 92.6473985,41.5066667 91.1513985,42.152 C89.6553985,42.7973333 88.0567318,43.12 86.3553985,43.12 Z M140.942797,60.104 C146.457464,60.104 151.370797,59.4733333 155.682797,58.212 C159.994797,56.9506667 163.63213,55.088 166.594797,52.624 C169.557464,50.16 171.81613,47.0946667 173.370797,43.428 C174.925464,39.7613333 175.702797,35.5226667 175.702797,30.712 C175.702797,25.9013333 174.925464,21.6626667 173.370797,17.996 C171.81613,14.3293333 169.557464,11.264 166.594797,8.8 C163.63213,6.336 159.994797,4.488 155.682797,3.256 C151.370797,2.024 146.457464,1.408 140.942797,1.408 L140.942797,1.408 L124.662797,1.408 L124.662797,60.104 L140.942797,60.104 Z M140.942797,53.064 L133.462797,53.064 L133.462797,8.448 L140.942797,8.448 C149.50813,8.448 155.97613,10.384 160.346797,14.256 C164.717464,18.128 166.902797,23.6133333 166.902797,30.712 C166.902797,37.8106667 164.717464,43.3106667 160.346797,47.212 C155.97613,51.1133333 149.50813,53.064 140.942797,53.064 L140.942797,53.064 Z M140.942797,50.952 C148.393464,50.952 154.186797,49.2506667 158.322797,45.848 C162.458797,42.4453333 164.526797,37.4 164.526797,30.712 C164.526797,24.024 162.458797,18.9933333 158.322797,15.62 C154.186797,12.2466667 148.393464,10.56 140.942797,10.56 L140.942797,10.56 L135.750797,10.56 L135.750797,50.952 L140.942797,50.952 Z M143.406797,43.384 L143.406797,18.128 C147.806797,18.128 151.209464,19.1546667 153.614797,21.208 C156.02013,23.2613333 157.222797,26.4293333 157.222797,30.712 C157.222797,34.9946667 156.02013,38.1773333 153.614797,40.26 C151.209464,42.3426667 147.806797,43.384 143.406797,43.384 L143.406797,43.384 Z M218.938195,60.104 L218.938195,44.704 L202.746195,44.704 L202.746195,1.408 L183.210195,1.408 L183.210195,60.104 L218.938195,60.104 Z M214.010195,53.064 L192.010195,53.064 L192.010195,8.448 L194.298195,8.448 L194.298195,50.952 L214.010195,50.952 L214.010195,53.064 Z M243.429594,60.104 L243.429594,45.232 L252.229594,60.104 L274.229594,60.104 L263.229594,40.744 C264.696261,39.688 266.016261,38.3973333 267.189594,36.872 C268.186927,35.5226667 269.096261,33.8213333 269.917594,31.768 C270.738927,29.7146667 271.149594,27.2213333 271.149594,24.288 C271.149594,20.592 270.489594,17.3213333 269.169594,14.476 C267.849594,11.6306667 266.016261,9.24 263.669594,7.304 C261.322927,5.368 258.550927,3.90133333 255.353594,2.904 C252.156261,1.90666667 248.680261,1.408 244.925594,1.408 L244.925594,1.408 L224.685594,1.408 L224.685594,60.104 L243.429594,60.104 Z M235.773594,53.064 L233.485594,53.064 L233.485594,8.448 L242.989594,8.448 C245.746927,8.448 248.298927,8.78533333 250.645594,9.46 C252.992261,10.1346667 255.030927,11.132 256.761594,12.452 C258.492261,13.772 259.856261,15.4 260.853594,17.336 C261.850927,19.272 262.349594,21.5306667 262.349594,24.112 C262.349594,27.808 261.410927,30.8146667 259.533594,33.132 C257.656261,35.4493333 255.133594,37.1653333 251.965594,38.28 L251.965594,38.28 L260.765594,53.064 L258.037594,53.064 L249.677594,38.984 C247.506927,39.4533333 245.277594,39.688 242.989594,39.688 L242.989594,39.688 L235.773594,39.688 L235.773594,53.064 Z M242.989594,37.576 C248.328261,37.576 252.508261,36.4173333 255.529594,34.1 C258.550927,31.7826667 260.061594,28.4533333 260.061594,24.112 C260.061594,19.7706667 258.550927,16.4266667 255.529594,14.08 C252.508261,11.7333333 248.328261,10.56 242.989594,10.56 L242.989594,10.56 L235.773594,10.56 L235.773594,37.576 L242.989594,37.576 Z M244.397594,30.272 L243.429594,30.272 L243.429594,17.248 L244.397594,17.248 C246.626927,17.248 248.518927,17.7466667 250.073594,18.744 C251.628261,19.7413333 252.405594,21.4133333 252.405594,23.76 C252.405594,26.1066667 251.628261,27.7786667 250.073594,28.776 C248.518927,29.7733333 246.626927,30.272 244.397594,30.272 L244.397594,30.272 Z')
                                  g(transform='translate(238.383752, 83.621000)')
                                    path(d='M36.432,64.504 L36.432,62.568 L8.888,62.568 L8.888,37.752 L27.192,37.752 C27.8373333,37.752 28.16,37.4293333 28.16,36.784 L28.16,36.784 L28.16,29.48 C28.16,28.8346667 27.8373333,28.512 27.192,28.512 L27.192,28.512 L8.888,28.512 L8.888,1.936 L36.432,1.936 L36.432,5.68434189e-14 L0.968,5.68434189e-14 C0.322666667,5.68434189e-14 0,0.322666667 0,0.968 L0,0.968 L0,63.536 C0,64.1813333 0.322666667,64.504 0.968,64.504 L0.968,64.504 L36.432,64.504 Z M6.952,28.512 L1.936,28.512 L1.936,1.936 L6.952,1.936 L6.952,28.512 Z M6.952,35.816 L1.936,35.816 L1.936,30.448 L6.952,30.448 L6.952,35.816 Z M26.224,35.816 L8.888,35.816 L8.888,30.448 L26.224,30.448 L26.224,35.816 Z M6.952,62.568 L1.936,62.568 L1.936,37.752 L6.952,37.752 L6.952,62.568 Z M59.5153985,64.504 C59.9260651,64.504 60.2487318,64.2986667 60.4833985,63.888 L60.4833985,63.888 L78.1713985,14.344 L96.0353985,63.888 C96.1527318,64.2986667 96.4460651,64.504 96.9153985,64.504 C97.2673985,64.504 97.5607318,64.2986667 97.7953985,63.888 L97.7953985,63.888 L101.403398,53.768 C101.462065,53.5333333 101.462065,53.2986667 101.403398,53.064 L101.403398,53.064 L97.7953985,42.944 L108.179398,14.168 L125.867398,63.888 C125.984732,64.2986667 126.278065,64.504 126.747398,64.504 L126.747398,64.504 L134.667398,64.504 C134.960732,64.504 135.195398,64.3573333 135.371398,64.064 C135.606065,63.8293333 135.664732,63.5653333 135.547398,63.272 L135.547398,63.272 L112.755398,0.704 C112.696732,0.293333333 112.403398,0.088 111.875398,0.088 C111.464732,0.088 111.171398,0.293333333 110.995398,0.704 L110.995398,0.704 L96.8273985,40.128 L82.8353985,0.704 C82.6007318,0.293333333 82.3073985,0.088 81.9553985,0.088 C81.4860651,0.088 81.1633985,0.293333333 80.9873985,0.704 L80.9873985,0.704 L78.1713985,8.712 L75.2673985,0.704 C75.0327318,0.293333333 74.7393985,0.088 74.3873985,0.088 C73.8593985,0.088 73.5660651,0.293333333 73.5073985,0.704 L73.5073985,0.704 L50.8033985,63.272 C50.6273985,63.5653333 50.6567318,63.8293333 50.8913985,64.064 C51.0673985,64.3573333 51.3313985,64.504 51.6833985,64.504 L51.6833985,64.504 L59.5153985,64.504 Z M58.8993985,62.656 L53.0033985,62.656 L74.3873985,3.784 L77.1153985,11.528 L58.8993985,62.656 Z M96.9153985,60.808 L79.1393985,11.528 L81.9553985,3.784 L99.5553985,53.416 L96.9153985,60.808 Z M133.259398,62.656 L127.363398,62.656 L109.147398,11.352 L111.875398,3.784 L133.259398,62.656 Z M154.230797,64.504 C154.70013,64.504 155.022797,64.2986667 155.198797,63.888 L155.198797,63.888 L161.974797,46.376 L186.878797,46.376 L193.918797,64.504 L196.118797,64.504 L171.214797,0.616 C170.98013,0.205333333 170.657464,5.68434189e-14 170.246797,5.68434189e-14 C169.777464,5.68434189e-14 169.454797,0.205333333 169.278797,0.616 L169.278797,0.616 L144.726797,63.272 C144.550797,63.5066667 144.58013,63.8 144.814797,64.152 C144.990797,64.3866667 145.254797,64.504 145.606797,64.504 L145.606797,64.504 L154.230797,64.504 Z M183.270797,37.224 L177.286797,37.224 L167.254797,11.352 L170.246797,3.696 L183.270797,37.224 Z M175.086797,37.224 L157.046797,37.224 L166.198797,14.168 L175.086797,37.224 Z M153.526797,62.656 L147.102797,62.656 L156.342797,39.16 L162.590797,39.16 L153.526797,62.656 Z M177.902797,44.44 L162.678797,44.44 L164.790797,39.16 L175.878797,39.16 L177.902797,44.44 Z M186.086797,44.44 L180.102797,44.44 L177.990797,39.16 L184.062797,39.16 L186.086797,44.44 Z M216.474195,64.504 C217.119529,64.504 217.442195,64.1813333 217.442195,63.536 L217.442195,63.536 L217.442195,1.056 C217.442195,0.410666667 217.119529,0.088 216.474195,0.088 L216.474195,0.088 L209.522195,0.088 C208.935529,0.088 208.642195,0.410666667 208.642195,1.056 L208.642195,1.056 L208.642195,63.536 C208.642195,64.1813333 208.935529,64.504 209.522195,64.504 L209.522195,64.504 L216.474195,64.504 Z M215.594195,7.304 L210.490195,7.304 L210.490195,1.936 L215.594195,1.936 L215.594195,7.304 Z M215.594195,62.568 L210.490195,62.568 L210.490195,9.152 L215.594195,9.152 L215.594195,62.568 Z M264.813594,64.504 C265.400261,64.504 265.693594,64.1813333 265.693594,63.536 L265.693594,63.536 L265.693594,56.144 C265.693594,55.5573333 265.400261,55.264 264.813594,55.264 L264.813594,55.264 L239.469594,55.264 L239.469594,1.056 C239.469594,0.410666667 239.146927,0.088 238.501594,0.088 L238.501594,0.088 L231.461594,0.088 C230.816261,0.088 230.493594,0.410666667 230.493594,1.056 L230.493594,1.056 L230.493594,63.536 C230.493594,64.1813333 230.816261,64.504 231.461594,64.504 L231.461594,64.504 L264.813594,64.504 Z M237.533594,55.264 L232.429594,55.264 L232.429594,2.024 L237.533594,2.024 L237.533594,55.264 Z M237.533594,62.568 L232.429594,62.568 L232.429594,57.112 L237.533594,57.112 L237.533594,62.568 Z M263.845594,62.568 L239.469594,62.568 L239.469594,57.112 L263.845594,57.112 L263.845594,62.568 Z')
                                  g
                                    path(d='M174.023438,151.25 C178.893229,151.25 183.190104,149.388021 186.914062,145.664062 C190.638021,141.940104 192.5,137.643229 192.5,132.773438 L192.5,132.773438 L192.5,18.4765625 C192.5,13.6067708 190.638021,9.30989583 186.914062,5.5859375 C183.190104,1.86197917 178.893229,0 174.023438,0 L174.023438,0 L18.4765625,0 C13.6067708,0 9.30989583,1.86197917 5.5859375,5.5859375 C1.86197917,9.30989583 0,13.6067708 0,18.4765625 L0,18.4765625 L0,132.773438 C0,137.643229 1.86197917,141.940104 5.5859375,145.664062 C9.30989583,149.388021 13.6067708,151.25 18.4765625,151.25 L18.4765625,151.25 L174.023438,151.25 Z M96.25,89.375 L20.625,39.1015625 L20.625,20.625 L96.25,70.8984375 L171.875,20.625 L171.875,39.1015625 L96.25,89.375 Z', id='')
                tr
                  td(align='center', style='font-size:0px;padding:10px 25px;padding-top:0px;padding-bottom:30px;word-break:break-word;')
                    div(style='font-family:Futura, Avenir, sans-serif;font-size:12px;line-height:1;text-align:center;color:#FFFFFF;')
                      | Decentralized, Personalized Alerts
                tr
                  td(align='center', style='font-size:0px;padding:10px 25px;padding-top:0px;word-break:break-word;')
                    div(style='font-family:Futura, Avenir, sans-serif;font-size:12px;line-height:1;text-align:center;color:#FFFFFF;')
                      | Made with ☕️ by:
                      a(href='https://explorer.mainnet.near.org/accounts/alert.near', target='_blank', style='color:#FFF; text-decoration:underline')
                        | alert.near
