div(style='margin:0px auto;max-width:100%;')
  table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
    tbody
      tr
        td(style='direction:ltr;font-size:0px;padding:0px;text-align:center;')
          .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
              tr
                td(style='font-size:0px;word-break:break-word;')
                  div(style='height:30px;display:inline-block;margin: 40px 0px;')
                    img(src='https://pingbox.app/pingbox_logo_color.png', style='display:block;height:30px;width:100%;')
