div(style='margin:0px auto;padding:40px 0;max-width:100%;background:#111827;')
  table(align='center', border='0', cellpadding='0', cellspacing='0', role='presentation', style='width:100%;')
    tbody
      tr
        td(style='direction:ltr;font-size:0px;padding:0px;text-align:center;')
          .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
              tr
                td(align='center', style='font-size:0px;padding:10px 25px;padding-right:0px;padding-bottom:2px;padding-left:0px;word-break:break-word;')
                  div(style='font-family:Futura, Avenir, sans-serif;font-size:28px;font-weight:bolder;line-height:32px;text-align:center;color:#FFFFFF;')
                    | Share & Earn 
                    span(style='color:#9540dc;') Rewards
      tr
        td(style='direction:ltr;font-size:0px;padding:0px;text-align:center;')
          .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
            table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='vertical-align:top;', width='100%')
              tr
                td(align='center', style='font-size:0px;padding:10px 25px;padding-bottom:10px;word-break:break-word;')
                  div(style='font-family:Futura, Avenir, sans-serif;font-size:16px;line-height:25px;text-align:center;color:#FFFFFF;')
                    | Refer a friend to pingbox and receive
                    br
                    | up to 1Ⓝ off your subscription!
              tr
                td(align='center', vertical-align='middle', style='font-size:0px;padding:10px 25px;word-break:break-word;')
                  table(border='0', cellpadding='0', cellspacing='0', role='presentation', style='border-collapse:separate;line-height:100%;')
                    tr
                      td(align='center', bgcolor='#127A73', role='presentation', style='border:none;border-radius:4px;cursor:auto;mso-padding-alt:10px 25px;background:#127A73;', valign='middle')
                        a(href=referralUrl, style='display:inline-block;background:#127A73;color:white;font-family:Futura, Avenir, sans-serif;font-size:18px;font-weight:lighter;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;mso-padding-alt:0px;border-radius:3px;', target='_blank')
                          | Copy Referral Link
              //- tr
              //-   td(align='center', style='font-size:0px;padding:10px 25px;padding-bottom:10px;word-break:break-word;')
              //-     div(style='font-family:Futura, Avenir, sans-serif;font-size:12px;line-height:25px;text-align:center;color:#FFFFFF;')
              //-       | Each friend that signs up using this link,
              //-       br
              //-       | sends your account 1 Ⓝ, until your entire subscription is free.